[Desktop Entry]
Type=Application
Name=umjunsik-lang IDE
GenericName=Umjunsik-Lang IDE
Comment=IDE for the umjunsik-lang esoteric programming language
Exec=ummide
Icon=net.bloupla.ummide
Terminal=false
Categories=Development;IDE;
Keywords=programming;code;editor;umjunsik;
StartupNotify=true